<aside>
<div id="in-nav" class="in-nav-closed">
    <header style="background-image:url({{asset "images/navcover.jpg"}})">
        {{!-- 信息 --}}
        <a href="{{@blog.url}}">
            <img id="logo" src="{{@blog.logo}}" alt="{{@blog.title}}" id="logo">
            <span id="name">{{@blog.title}}</span>
        </a>
        <address>
            <a id="email" href="mailto:zover.v@gmail.com">zover.v@gmail.com</a>
        </address>
    </header>
    <ul>
        {{!-- 菜单输出 --}}
        {{#foreach navigation}}
            <li class="nav nav-{{slug}} {{#if current}}nav-current{{/if}}"><a href="{{url absolute="true"}}"><i class="material-icons">{{slug}}</i><span>{{label}}</span></a></li>
        {{/foreach}}
        <hr>
        <li class="nav tag-title">
            <i class="material-icons">label</i>
            <spna>Tags</spna>
        </li>
    {{#get "tags" limit="all" include="count.posts"}}
        <ul id="tag-nav">
        {{#foreach tags}}
            <li class="">
                <a href="{{url}}">
                    <i class="material-icons">label_outline</i><span>{{name}}</span>
                </a>
            </li>
        {{/foreach}}
        </ul>
    {{/get}}
    </ul>
</div>
</aside>
<span class="nav-cover"></span>
