<aside class="drawer mdc-drawer mdc-drawer--modal" data-mdc-auto-init="MDCDrawer">
    <div class="drawer-header mdc-drawer__header" style="background-image:url({{asset "images/navcover.jpg"}})">
        {{!-- 信息 --}}
        <img id="logo" src="{{@blog.logo}}" alt="{{@blog.title}}" id="logo">
        <h3 class="mdc-drawer__title">{{@blog.title}}</h3>
        <h6 class="mdc-drawer__subtitle">zover.v@gmail.com</h6>
    </div>
    <nav class="mdc-list" data-mdc-auto-init="MDCList">
        {{!-- 菜单输出 --}}
        {{#foreach navigation}}
        <a class="mdc-list-item {{#if current}}mdc-list-item--activated{{/if}} mdc-ripple-surface" href="{{url absolute="true"}}">
            <i class="material-icons mdc-list-item__graphic">{{slug}}</i>
            {{label}}
        </a>
        {{/foreach}}
        <hr class="mdc-list-divider">
        <h6 class="mdc-list-group__subheader">Labels</h6>
        {{#get "tags" limit="all" include="count.posts"}}
        {{#foreach tags}}
        <a class="drawer-tag mdc-list-item mdc-ripple-surface" href="{{url absolute="true"}}">
            <i class="material-icons mdc-list-item__graphic">bookmark</i>
            {{name}}
        </a>
        {{/foreach}}
        {{/get}}
    </nav>
</aside>
<div class="mdc-drawer-scrim"></div>
