<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {{!-- 文档设置 --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- 页面属性 --}}
    <title>{{meta_title}}</title>
    <meta name="theme-color" content="#00b5c2">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="google-site-verification" content="2D_cCWij73EqUKInqVNFale2NZas8CS4KgWBVdkBG8s" />
    {{!-- 头部钩子 --}}
    {{ghost_head}}

    {{!-- 样式表 --}}
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{asset "css/prism.css"}}">
    <link rel="stylesheet" href="{{asset "css/screen.css"}}" />
    
</head>

<body class="{{body_class}} mdc-typography">

    {{navigation}}
    {{!-- Head-bar --}}
    <header id="head-bar" class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button id="menu-button" class="material-icons mdc-top-app-bar__navigation-icon mdc-ripple-surface">menu</button>
                <span class="head-bar-title mdc-top-app-bar__title">
                    <a href="{{@blog.url}}">{{@blog.title}}&ensp;</a>
                    {{^is "index"}}/&ensp;{{meta_title}}{{/is}}
                </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <a href="{{@blog.url}}/ghost" class="material-icons material-icons mdc-top-app-bar__action-item mdc-ripple-surface">create</a>
            </section>
        </div>
    </header>

    {{!-- 插入index.hbs or post.hbs--}}
    {{{body}}}
    {{^is "post, page"}}
        {{pagination}}
    {{/is}}
	
    <footer class="main-footer">
        <section class="copyright">
            <p>「Material」Coded by <a href="http://about.lawliet.pw" alt="关于我">{{@blog.title}}</a></p>
            <p class="copyright-year">2015- Lawliet.pw © All rights reserved.</p>
        </section>
        <section class="powerdby">Powerd by <a href="http://ghost.org">Ghost</a></section>
    </footer>

    <button id="to-top" class="mdc-fab mdc-ripple-surface" aria-label="Top">
        <span class="mdc-fab__icon material-icons">keyboard_arrow_up</span>
    </button>

    {{ghost_foot}}
    {{!-- 外部Js --}}
    {{!-- CDN --}}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    {{!-- 主index.js --}}
    <script src="{{asset "js/zooming.min.js"}}"></script>
    <script src="{{asset "js/prism.js"}}"></script>
    <script src="{{asset "js/index.js"}}"></script>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const zooming = new Zooming({
				customSize: '100%'
			})

			zooming.listen('.img-zoomable')
        })
    </script>
</body>
</html>